.homeContainer {
    margin: 0px 73px;
    height: 465px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 125px;
}
h1.my-name {
    font-size: 70px;
    font-weight: bolder;
    margin:0;
}
.homeContainer>*{margin: 0;}
h3.title {
    margin: 0;
    font-size: 25px;
}
.rightsection {
    flex: 4;
    margin-bottom: 75px;
}
.leftSection {
    flex: 6;
}
.socialIcons{
    height: 50px;
    width: 50px;
    margin: 0;
}
 .linkicon {
     padding: 2px;
     background-color: white;
     display: inline-flex;
     border-radius: 6px;
}
.socialLinks {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.contacts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
        margin: 18px 0;
        }