@media only screen and (max-width: 768px) {
  .headerContainer {
    margin: 0 6px !important;
  }
  .homeContainer {
    flex-direction: column !important;
    gap: 20px !important;
    height: auto !important;
  }
  .leftSection {
    flex: 6;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 6px;
  }
  .contacts {
    margin: 8px 0 !important;
  }
  .my-name,
  .title,
  .about {
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  .projectHeading {
    font-size: 250% !important;
  }
  .skillContainerBox {
    justify-content: center !important;
    align-items: center !important;
    margin: 0 25px !important;
  }
  .hiddenExpLine {
    display: none !important;
  }
  .hiddenExp {
    display: none !important;
  }
  h1.my-name {
    font-size: 300% !important;
  }
  .card {
    height: 72px !important;
  }
  .projectTech {
    flex-wrap: wrap;
  }
  .expPageContainer {
    padding: 0 11px;
  }
  .expcardContainer {
    margin-bottom: 35px !important;
    height: 460px !important;
    width: 100%;
  }
  .skillTypeHeading {
    margin-left: 0 !important;

    text-align: center !important;
  }
  .headerContainer {
    justify-content: center !important;
    gap: 10% !important;
  }
}
